# Entorno virtual
venv/

# Archivos del sistema
.DS_Store

# Resultados y datos locales
result_images/
test_images/

# Modelos entrenados (pesos)
models/*.pth
models/tmp*

# Residuos de build
*.egg-info/
__pycache__/